<link rel="stylesheet" href="./src/css/styles.css" />
<link rel="stylesheet" href="./src/components/Podcasts/Podcasts.css" />

<div class="podcasts">
  <div class="podcast podcast--spotify">
    <img src="./src/assets/desktop/spotify.svg" alt="" />
  </div>

  <div class="podcast podcast--apple">
    <img src="./src/assets/desktop/apple-podcast.svg" alt="" />
  </div>

  <div class="podcast podcast--google">
    <img src="./src/assets/desktop/google-podcasts.svg" alt="" />
  </div>

  <div class="podcast podcast--pocket-cast">
    <img src="./src/assets/desktop/pocket-casts.svg" alt="" />
  </div>
</div>
